.header {
  height: var(--header-height);
  padding: 0 20px;
  background-color: #fff;
  border-bottom: 1px solid var(--border-color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* スクロールしても上部に固定 */
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  font-size: 24px;
  font-family: sans-serif;
}

.nav {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* ヘッダー内のボタン用 */
.button {
  padding: 8px 16px;
  font-size: 14px;
}
