.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #eee;
  padding: 16px 0;
  z-index: 10;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  gap: 16px;
}

.commentButton {
  flex: 1;
}

.purchaseButton {
  margin-top: 0;
  flex: 2;
}

.editButton {
  margin-top: 0;
  flex: 2;
}
